#!/usr/bin/make -f

# redirect module to correct dist-packages dir
#export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python2.7/dist-packages

override_dh_auto_build:
	dh_auto_build
	go-md2man -in debian/dhcpig.1.md -out debian/dhcpig.1

# using pybuild for install
# pig.py is properly named dhcpig
override_dh_install:
	dh_install
	mv $(CURDIR)/debian/dhcpig/usr/bin/pig.py $(CURDIR)/debian/dhcpig/usr/bin/dhcpig

%:
	dh $@ --with python2 --buildsystem=pybuild
